<h1 align = "center"> Hello there, my name is {{name}}  <img src="https://github.com/claytonjhamilton/claytonjhamilton/blob/main/images/waving_hand.gif" width="40px"></h1>

Pleasure to meet you. I'm a pharmacist informatician 💊 living in beautiful <b>{{city_name}}</b>. 
<p>Today, the sun rose at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>. The tempature was <b>{{city_temperature}}°F</b> at <b>{{time}}</b> and {{weather_description}}.</p>

<h3>My Publications</h3>
<ul>
  <li><a href="https://www.mdedge.com/fedprac/article/231303/diabetes/evaluation-metabolic-monitoring-and-diabetes-incidence-first-year"><b>Evaluation of Metabolic Monitoring and Diabetes Incidence in the First Year for Veterans Newly Started on an Atypical Antipsychotic</b></a><br/><i>Adverse drug effects and poor lab monitoring practices put patients at risk.</i></li>
  <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6145609/"><b>Worsening Choreoathetosis in Huntington’s Disease with Fluoxetine, Lisdexamfetamine, and Melatonin</b></a><br/><i>A case study of a curious adverse drug reaction.</i></li>
</ul>

<h3>My Blog Post(s)</h3>
<ul>
  <li><a href="https://clayton-hamilton.medium.com/is-a-pharmacy-residency-right-for-you-9660f6e35fcb"><b>Is pharmacy residency right for you?</b></a><br/><i>Things to ponder prior to entering the ASHP match process.</i></li>
</ul>

:page_facing_up:  **Favorite Languages:**
<br>
 <code><img height="20" src="https://img.shields.io/badge/-SQL-%2312100E.svg?logo=microsoft-sql-server&logoColor=red&style=for-the-badge"></code><code><img height="20" src="https://img.shields.io/badge/Python-%2312100E.svg?logo=python&style=for-the-badge&logoColor=yellow"></code>

:hammer_and_pick:  **Tools I use:**
<br>
<code><img height="20" src="https://img.shields.io/badge/-Microsoft%20SQL%20Server-%2312100E.svg?logo=microsoft-sql-server&logoColor=red&style=for-the-badge"></code><code><img height="20" src="https://img.shields.io/badge/-Visual%20Studio%20Code-%2312100E.svg?logo=visual-studio-code&style=for-the-badge&logoColor=blue"></code><code><img height="20" src="https://img.shields.io/badge/-Visual%20Studio-%2312100E.svg?logo=visual-studio&style=for-the-badge&logoColor=purple"></code><code><img height="20" src="https://img.shields.io/badge/-Report%20Builder-%2312100E.svg?logo=Power%20BI&logoColor=red&style=for-the-badge"></code><code><img height="20" src="https://img.shields.io/badge/-PowerBI-black?logo=Power%20BI&logoColor=yellow&style=for-the-badge"></code><code><img height="20" src="https://img.shields.io/badge/-Git-%2312100E.svg?logo=git&style=for-the-badge"></code><code><img height="20" src="https://img.shields.io/badge/-GitHub-black?logo=GitHub"></code>
<br>
<h3 align="center">Find me on</h3>
<p align="center"><a href="https://github.com/claytonjhamilton" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a> <a 
href="https://twitter.com/HamiltonPharmD" target="_blank"><img alt="Twitter" src="https://img.shields.io/badge/twitter-%2312100E.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a> <a 
href="https://stackoverflow.com/users/14122375/hamiltonpharmd" target="_blank"><img alt="StackOverflow" src="https://img.shields.io/badge/stackoverflow-%2312100E.svg?&style=for-the-badge&logo=stackoverflow&logoColor=orange" /></a> <a 
href="https://www.linkedin.com/in/clayton-j-hamilton" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%2312100E.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a> <a 
href="https://medium.com/@clayton-hamilton" target="_blank"><img alt="Medium" src="https://img.shields.io/badge/medium-%2312100E.svg?&style=for-the-badge&logo=medium&logoColor=white" /></a>
</p>
<p align="center">
<b>Random Quote</b>
<br>
<text>{{starWarsQuote}}</text>
</p>
<hr style="width:75%;text-align:center">
<p align="center">
    <text>This README last auto-updated on: {{date}}</text>
    <br>
</p>
<p align="center">
<img src="https://github.com/claytonjhamilton/claytonjhamilton/workflows/README%20build/badge.svg"/>
<img src="https://visitor-badge.glitch.me/badge?page_id=claytonjhamilton.claytonjhamilton"/>
<br>
<img alt="centered image" height="85" src="https://github.com/hjnilsson/country-flags/blob/master/svg/us.svg"/>
</p>