<h1 align = "center"> Hello there, my name is {{name}}  <img src="https://github.com/claytonjhamilton/claytonjhamilton/blob/main/images/waving_hand.gif" width="40px"></h1>

Pleasure to meet you. I'm a pharmacist informatician :pill: living in beautiful <b>{{city_name}}</b>. 
<p>Today, the sun rose at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>. The tempature is currently <b>{{city_temperature}}°F</b> and {{weather_description}}.</p>

I appreciate a random XKCD comic. Here's today's comic titled <i>{{cartoon_title}}</i>.

<img src="{{cartoon_img}}" alt="{{cartoon_alt}}">

<h3>My post(s)</h3>
<ul>
  <li><a href="https://clayton-hamilton.medium.com/is-a-pharmacy-residency-right-for-you-9660f6e35fcb"><b>Is pharmacy residency right for you?</b></a><br/><i>Things to ponder prior to entering the ASHP match process.</i></li>
</ul>

| :page_facing_up:  **Favorite Languages:**                                                            |
| :-------------------------------------------------------------------------------------------------------- |
| <code><img height="20" src="https://img.shields.io/badge/-SQL-green?logo=codepen&logoColor=white"></code><code><img height="20" src="https://img.shields.io/badge/Python-%233776AB.svg?logo=python&logoColor=white"></code>|

|:hammer_and_pick:  **Tools I use:** |
|:----|
|<code><img height="20" src="https://img.shields.io/badge/-Microsoft%20SQL%20Server-grey?logo=microsoft-sql-server&logoColor=red"></code><code><img height="20" src="https://img.shields.io/badge/-Visual%20Studio%20Code-blue?logo=visual-studio-code"></code><code><img height="20" src="https://img.shields.io/badge/-Visual%20Studio-purple?logo=visual-studio"></code><code><img height="20" src="https://img.shields.io/badge/-Report%20Builder-white?logo=Power%20BI&logoColor=red"></code><code><img height="20" src="https://img.shields.io/badge/-PowerBI-black?logo=Power%20BI&logoColor=yellow"></code><code><img height="20" src="https://img.shields.io/badge/-Git-9cf?logo=git"></code><code><img height="20" src="https://img.shields.io/badge/-GitHub-black?logo=GitHub"></code>|

Find me on [![LinkedIn][1.1]][1]!

<hr style="width:75%;text-align:center">
<p align="center">
    <text>This README last auto-updated on: {{date}}</text>
    <br>
</p>
<p align="center">
<img src="https://github.com/claytonjhamilton/claytonjhamilton/workflows/README%20build/badge.svg"/><br>
<img alt="centered image" height="85" src="https://github.com/hjnilsson/country-flags/blob/master/svg/us.svg"/>
</p>

<!-- social media accounts -->
[1]: https://www.linkedin.com/in/clayton-j-hamilton/

<!-- icon(s) without padding -->
[1.1]: https://i.stack.imgur.com/gVE0j.png
