black==23.7.0
certifi==2023.7.22
click==8.1.7
Markdown==3.4.4
markdown-it-py==3.0.0
md-mermaid==0.1.1
mdurl==0.1.2
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.1
platformdirs==3.10.0
PyExecJS==1.5.1
pyperclip==1.8.2
scipy==1.11.3
six==1.16.0
tk==0.1.0
urllib3==2.0.6
